streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-classic
langchain-google-genai
langchain-huggingface
chromadb
huggingface-hub
sentence-transformers
pypdf
docx2txt
selenium
protobuf
google-auth
google-generativeai
requests
uuid
